*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #c00000;
}

.app{
    height: 600px;
    width: 375px;
    border: solid 1px #ccc;
}

.app {
    padding: 20px;
}

.app header{
    margin-bottom: 30px;
}

img{
    max-width: 100%;
}
.logo{
  height: 40px;
}
.bar-header{
 font-weight: 500;
 display: flex;
 width: 100%;
 justify-content: space-between;
}
.comment{
    color: white;
    background-color: #c00000;
    padding: 5px;
    border-radius: 10px;
    width: 55%;
    font-size: 13px;
    margin-bottom: 15px;
}
.triangle{
      width: 0;
      height: 0;
      border-left: 25px solid transparent;
      border-right: 25px solid transparent;
      border-top: 60px solid #c00000;
      margin-top: -18px;
  transform: translateX(160px) skew(45deg);
}
.details{
    text-transform: uppercase;
    margin-top: 20px;
}
.long-bar{
    margin-top: 5px;
    height: 4px;
    width: 100%;
     margin-bottom: 30px;
background-color: #ccc;
     display: flex;
border-radius: 200px;
}

.bar-one{
 background-color: #6e6e6e;
 height: 100%;
 width: 45%;
 border-radius: 200px;
}

